header {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1.5rem;
  width: 90%;
  max-width: 1440px;
  margin-inline: auto;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-item {
  list-style: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 3.75rem;
  margin: 0;
}

.brand {
  font-size: 2rem;
  font-weight: 700;
}

.nav-link:hover {
  color: blue;
}

.hambuger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px auto;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .hambuger {
    display: block;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambuger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
